<p id="notice"><%= notice %></p>

    <h1><big>In Case You Missed It</big></h1>

    <%-#<h2>Artists</h2> %>
  
    <div class= "flex-container">
        <% @artists.sort_by{|artist| artist.name}.each do |artist| %>
        <div class= "card">
            <a href="/artists/<%=artist.id%>/shows"/>
            <h2> <%=artist.name%> </h2>
            <img src=<%=artist.img%> >
            </a>
        </div>
    <%end%>
    </div>

