<p id="notice"><%= notice %></p>

<h1>Artists</h1>
  
    <% @artists.each do |artist| %>
        <a href="/artists/<%=artist.id%>/shows"/>
        <h1><%=artist.name%></h1>
        <img src=<%=artist.img%>>
        </a>
    <%end%>

