/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#artist-body {
  background-image: linear-gradient(to right, #000, #ff0000);
  color: #fff;
}

.artists h1 {
  color: #ff0;
}

.index {
  text-align: center;
}

.title {
  margin-bottom: 40px;
}

#concert-body {
  background-image: linear-gradient(to right, #000, #ff0);
}

.artists,
.shows {
  display: flex;
  margin: auto;
  height: 400px;
  align-items: baseline;
}

.artist-image,
.show-image {
  width: 50%;
}

.artist-name,
.show-info {
  width: 50%;
}

a,
a:hover {
  text-decoration: none;
}

img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid gray;
  width: 300px;
  height: 300px;
}

.artist-img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid #000;
  width: 300px;
  height: 300px;
}

nav {
  display: flex;
}

.btn-primary {
  margin-left: 20px;
}

.song-list {
  list-style-type: none;
  font-size: 18px;
}

@media (min-width: 500px) {
  .artist-name,
  .show-info {
    width: 30%;
  }
}
